{% extends "base.html" %}
{% block content %}
    <h1>Article List</h1>
    <ul>
        {% if articles_list %}
            {% for article in articles_list %}
                <li>
                    <p>
                        {{ article.title }} <a href="{% url 'articles:article_detail' article.id %}">View</a>

                    </p>
                    {% if article.owner = user %}
                    (<a href="{% url 'articles:article_update' article.id %}">Update</a> |
                    <a href="{% url 'articles:article_delete' article.id %}">Delete</a>) <br/>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}

    </ul>
    <p>
        <a href="{% url 'articles:all' %}">View Articles</a> ({{ articles_count }}) |
        <a href="{% url 'articles:article_create' %}">Add an Article</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next={% url 'articles:all' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}?next={% url 'articles:all' %}">Login</a>
        {% endif %}
    </p>
{% endblock %}